Repository caffeine-addictt/waku, pull requests merged in 2024-04, with the labels that each got.

#19 Remove greet-contributors CI
  .github/workflows/first-time-contributor.yml
Labels: Documentation, Type: CI

#24 Adding prettier linting
  .editorconfig
  .github/CODESTYLE.md
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-failing-test.md
  .github/ISSUE_TEMPLATE/3-docs-bug.md
  .github/ISSUE_TEMPLATE/4-feature-request.md
  .github/ISSUE_TEMPLATE/5-enhancement-request.md
  .github/ISSUE_TEMPLATE/6-security-report.md
  .github/ISSUE_TEMPLATE/7-question-support.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/settings.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/sync-template.yml
  .github/workflows/test-worker.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  setup.sh
  template/.github/CODESTYLE.md
  template/.github/CODE_OF_CONDUCT.md
  template/.github/CONTRIBUTING.md
  template/.github/ISSUE_TEMPLATE/1-bug-report.md
  template/.github/ISSUE_TEMPLATE/2-failing-test.md
  template/.github/ISSUE_TEMPLATE/3-docs-bug.md
  template/.github/ISSUE_TEMPLATE/4-feature-request.md
  template/.github/ISSUE_TEMPLATE/5-enhancement-request.md
  template/.github/ISSUE_TEMPLATE/6-security-report.md
  template/.github/ISSUE_TEMPLATE/7-question-support.md
  template/.github/PULL_REQUEST_TEMPLATE.md
  template/.github/SECURITY.md
  template/.github/dependabot.yml
  template/.github/labeler.yml
  template/.github/release-drafter.yml
  template/.github/settings.yml
  template/.github/workflows/labeler.yml
  template/.github/workflows/sync-template.yml
  template/.github/workflows/test-worker.yml
  template/CITATION.cff
  template/README.md
Labels: Documentation, Type: CI

#25 Update labels
  .github/settings.yml
  setup.sh
  template/.github/settings.yml
Labels: Documentation

#27 Bump version to 1.8.0
  CITATION.cff
Labels: Documentation

#31 Ignore {{}} syntax in template/CITATION.cff Linting
  .prettierignore
Labels: Documentation, Type: CI

#28 Platform Compatibility
  setup.js
  template/CITATION.cff
Labels: Type: Enhancement, Type: Feature

#32 Fix CI labeler failing on PRs from forks and applying wrong labels
  .github/labeler.yml
  .github/workflows/labeler.yml
  template/.github/labeler.yml
  template/.github/workflows/labeler.yml
Labels: Type: Bug, Type: CI

#34 Using typescript
  .eslintignore
  .github/workflows/check-dist.yml
  .github/workflows/test-worker.yml
  .gitignore
  .prettierignore
  README.md
  dist/setup.js
  eslint.config.mjs
  package-lock.json
  package.json
  setup.js
  setup.sh
  src/setup.ts
  tests/setup.test.ts
  tsconfig.json
Labels: Type: Breaking, Type: Enhancement, Type: Feature, Type: Test, Documentation, Type: CI, Status: DO NOT MERGE

#35 Update setup command to use dist
  README.md
Labels: Documentation

#36 Testing substituing file content
  babel.config.cjs
  dist/error.js
  dist/io-util.js
  dist/setup.js
  dist/types.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/error.ts
  src/io-util.ts
  src/setup.ts
  src/types.ts
  tests/io-util.test.ts
  tests/setup.test.ts
Labels: Type: Bug, Type: Test

#37 Fix transpiled js cant run with Node.Js
  dist/error.js
  dist/io-util.js
  dist/setup.js
  tsconfig.json
Labels: Type: Bug

#29 chore(ver): Bump version to 1.9.0-alpha.1
  CITATION.cff
Labels: Documentation

#38 Fix some setup errors
  CITATION.cff
  dist/setup.js
  src/setup.ts
  template/.github/ISSUE_TEMPLATE/1-bug-report.md
  template/.github/ISSUE_TEMPLATE/2-failing-test.md
  template/.github/ISSUE_TEMPLATE/3-docs-bug.md
  template/.github/ISSUE_TEMPLATE/4-feature-request.md
  template/.github/ISSUE_TEMPLATE/5-enhancement-request.md
  template/.github/ISSUE_TEMPLATE/6-security-report.md
  template/.github/ISSUE_TEMPLATE/7-question-support.md
Labels: Type: Bug
